.curso-bg {
  background-color: var(--cor-11);
}

.curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/bottom-left.svg") no-repeat bottom 40px left
    20px;
}

.curso-titulo {
  grid-column: 1 / -1;
}

.curso-imagens {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.curso-imagens img {
  cursor: pointer;
  flex: 1;
  min-width: 200px;
}

.curso-imagens img:first-child {
  cursor: initial;
  min-width: 100%;
}

.curso-conteudo > p {
  margin-bottom: 32px;
}

.curso-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.curso-comprar a {
  grid-row: span 2;
}

.curso-comprar span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--cor-12);
}

.curso-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.curso-informacoes,
.curso-ficha {
  padding: 32px;
  border-radius: 4px;
  background-color: var(--cor-12);
}

.curso-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.curso-informacoes img {
  width: 24px;
  margin-bottom: 4px;
}

.curso-informacoes h3 {
  margin-bottom: 8px;
}

.curso-ficha li {
  padding: 4px 0;
  border-bottom: 1px solid var(--cor-11);
  display: flex;
  justify-content: space-between;
}

.curso-ficha li:last-child {
  border-bottom: none;
}

.curso-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .curso {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .curso-imagens {
    grid-row: 3;
  }
}

@media (max-width: 400px) {
  .curso-informacoes {
    grid-template-columns: 1fr;
  }
  .curso-comprar {
    grid-template-columns: 1fr;
  }
}
